/*//////////////////////////////////////////////////////////////////
[ FONT ]*/
@font-face {
    font-family: Ubuntu-Regular;
    src: url("../fonts/ubuntu/Ubuntu-Regular.ttf");
  }
  
  @font-face {
    font-family: Ubuntu-Bold;
    src: url("../fonts/ubuntu/Ubuntu-Bold.ttf");
  }

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: whitesmoke;
    font-family: Raleway;
    font-size: 2.2rem;
}

html{
    font-size: 62.5%;
}

body{
    background: #474787 radial-gradient(circle at 60% 100%,#474787 5%,#2c2c54 94%);
    line-height: 1.1;
}


.parent-container{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;

        .logo{
            height: 10vh;
            color: #f1f2f6;
            font-size: 4rem;
            font-family: Ubuntu-Regular;

                span{
                    color: #ffc451;
                    font-size: 4rem;
                }
        }

        .heading{
            align-self: center;
            text-transform: uppercase;
            font-size: 2.8rem;
            width: max-content;
            border-bottom: .3rem solid #ffd32a;
            font-family: Ubuntu-Regular;
            letter-spacing: .15rem;
        }

        .main-container{
            display: flex;
            justify-content: space-around;
            flex-flow: row-reverse;

                .form-container{
                    margin-top: 3rem;
                    
                    padding: 1rem 0;
                    align-self: flex-start;
                
                        .input-container{
                            position: relative;
                            margin-bottom: 3.2rem;

                                label{
                                    position: absolute;
                                    top: .8rem;
                                    left: .5rem;
                                    transition: linear .2s all;
                                    font-size: 2.2rem;
                                    letter-spacing: .15rem;
                                    z-index: -1;
                                }
                                .invalid-feedback{
                                    font-size: 2.2rem !important;
                                }

                                input{
                                    background: transparent;
                                    outline: none;
                                    border:none;
                                    border-bottom:.2rem solid whitesmoke;
                                    color: #ffd32a;
                                    padding: .5rem 1rem;

                                        &:focus{
                                            border-color: #ffd32a;
                                        }
                                }
                                
                                .org_type{
                                    cursor: pointer;
                                }

                                input[type=date]::-webkit-calendar-picker-indicator{
                                    background-color: whitesmoke;
                                }

                                input[type=date]:focus::-webkit-calendar-picker-indicator, 
                                input[type=date]:valid::-webkit-calendar-picker-indicator{
                                    background-color: #ffd32a;
                                }

                                //Hide Default Placeholder for Date Input
                                input[type=date]:required:invalid::-webkit-datetime-edit {
                                    color: transparent;
                                }

                                /* input::-webkit-​input-placeholder{  
                                    color: transparent;
                                } */


                                input[type=date]:focus::-webkit-datetime-edit {
                                    color: #ffd32a !important;
                                }
                            
                                #contact_no:placeholder-shown+label{
                                    top: .8rem;
                                    left: .5rem;
                                    letter-spacing: 0rem;
                                }
                                #contact_no:not(:placeholder-shown)+label,#contact_no:focus+label { 
                                    top: -2.5rem;
                                    left: 0rem;
                                    letter-spacing: 0rem;
                                }
                                #contact_no::placeholder{
                                    opacity: 0;
                                }
                                
                                input:focus+label,input:valid+label{
                                    top: -2.5rem;
                                    left: 0rem;
                                    letter-spacing: 0rem;
                                }
                        }
                        #submit-form{
                            background-color: #ffd32a;
                            border-radius: 1rem;
                            color: black;
                            font-size: 2.2rem;
                            padding: .5rem 1.5rem;
                            margin: auto;
                            position: relative;
                            left: 50%;
                            transform: translateX(-50%);
                        }
                }

                .img-container{
                    align-self: center;
                    img{
                        width: 50rem;
                    }
                }
        }
}

/*Responsive Media Queries*/
@media (max-width: 998px) {
    html {
      font-size: 60%;
    }
  }
  
  @media (max-width: 768px) {
    html {
      font-size: 58%;
    }

  }
  
  @media (max-width: 600px) {
    html {
      font-size: 55%;
    }
    .parent-container .main-container{
        flex-flow: row;
        justify-content: flex-start;
    }
    .img-container{
        display: none;
    }
  }
  
  @media (max-width: 350px) {
    html {
      font-size: 50%;
    }
  }